**/**.zip.*

**/智代After/
**/CLANNAD_HD/*
!**/CLANNAD_HD/savedata_zh/

SenrenBanka/*

**/星空鉄道とシロの旅/*
!**/星空鉄道とシロの旅/Save/

**/相思相愛ロリータ/*
!**/相思相愛ロリータ/savedata/
**/相思相愛ロリータの生活/*
!**/相思相愛ロリータの生活/savedata/

**/Ever17/*
!**/Ever17/save/